= form_for [:admin, @application], url: @url, html: {role: 'form'} do |f|
  = form_errors(application)

  = content_tag :div, class: 'form-group row' do
    .col-sm-2.col-form-label
      = f.label :name, "名称"
    .col-sm-10
      = f.text_field :name, class: 'form-control'
      = doorkeeper_errors_for application, :name

  = content_tag :div, class: 'form-group row' do
    .col-sm-2.col-form-label
      = f.label :redirect_uri, "重定向 URI"
    .col-sm-10
      = f.text_area :redirect_uri, class: 'form-control'
      = doorkeeper_errors_for application, :redirect_uri
      %span.form-text.text-muted
        每个 URI 使用一行
      - if Doorkeeper.configuration.native_redirect_uri
        %span.form-text.text-muted
          使用
          %code= Doorkeeper.configuration.native_redirect_uri
          作为本地测试

  = content_tag :div, class: 'form-group row' do
    .col-sm-2.col-form-label.pt-0
      = f.label :trusted
    .col-sm-10
      = f.check_box :trusted
      %span.form-text.text-muted
        授信应用将自动在 GitLab OAuth 流中授权。

  .form-group.row
    .col-sm-2.col-form-label.pt-0
      = f.label :scopes
    .col-sm-10
      = render 'shared/tokens/scopes_form', prefix: 'doorkeeper_application', token: application, scopes: @scopes

  .form-actions
    = f.submit '提交', class: "btn btn-success wide"
    = link_to "取消", admin_applications_path, class: "btn btn-cancel"
