.user_new
  = form_for [:admin, @user], html: { class: 'fieldset-form' } do |f|
    = form_errors(@user)

    %fieldset
      %legend 账号
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :name
        .col-sm-10
          = f.text_field :name, required: true, autocomplete: 'off', class: 'form-control'
          %span.help-inline * 必须填写
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :username
        .col-sm-10
          = f.text_field :username, required: true, autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: false, class: 'form-control'
          %span.help-inline * 必须填写
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :email
        .col-sm-10
          = f.text_field :email, required: true, autocomplete: 'off', class: 'form-control'
          %span.help-inline * 必须填写

    - if @user.new_record?
      %fieldset
        %legend 密码
        .form-group.row
          .col-sm-2.col-form-label
            = f.label :password
          .col-sm-10
            %strong
              重置链接将自动生成临时密码发送给用户。
              %br
              用户在第一次登录后需要强制修改密码。
    - else
      %fieldset
        %legend 密码
        .form-group.row
          .col-sm-2.col-form-label
            = f.label :password
          .col-sm-10
            = f.password_field :password, disabled: f.object.force_random_password, class: 'form-control'
        .form-group.row
          .col-sm-2.col-form-label
            = f.label :password_confirmation
          .col-sm-10
            = f.password_field :password_confirmation, disabled: f.object.force_random_password, class: 'form-control'

    = render partial: 'access_levels', locals: { f: f }

    = render_if_exists 'admin/users/namespace_plan_fieldset', f: f

    = render_if_exists 'admin/users/limits', f: f

    %fieldset
      %legend 个人资料
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :avatar
        .col-sm-10
          = f.file_field :avatar

      .form-group.row
        .col-sm-2.col-form-label
          = f.label :skype
        .col-sm-10
          = f.text_field :skype, class: 'form-control'
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :linkedin
        .col-sm-10
          = f.text_field :linkedin, class: 'form-control'
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :twitter
        .col-sm-10
          = f.text_field :twitter, class: 'form-control'
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :website_url
        .col-sm-10
          = f.text_field :website_url, class: 'form-control'

    = render_if_exists 'admin/users/admin_notes', f: f

    .form-actions
      - if @user.new_record?
        = f.submit '创建用户', class: "btn btn-success"
        = link_to '取消', admin_users_path, class: "btn btn-cancel"
      - else
        = f.submit '保存修改', class: "btn btn-success"
        = link_to '取消', admin_user_path(@user), class: "btn btn-cancel"
